body {
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  color: white;
  z-index: 2;
}
.CustomBite {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin-left: 30px; 
}

.CustomBite a {
padding: 15px;
text-decoration: none;
color:white;
}

.CustomBite a:hover {
color: white;
}
.CustomBite img.icon {
width: 40px; 
height: 40px; 
border-radius: 50%; 

}
.page-titre {
margin-top: 50px; 
font-size: 25px;
font-weight: bold;
text-align: center;
font-family: 'Brush Script MT';
padding: 10px;
}
.container{
position: absolute;
background: #d3d3d3bd ;
height: 500px;
width: 630px;
left: 350px;
top: 50px;
border-radius: 50px;
z-index: 1;
overflow: scroll;
justify-content: center;
}

.container-right {
position: absolute;
background: #d3d3d3bd ;
height: 330px;
width: 300px;
right: -130px;
top: 300px;
transform: translate(-50%,-50%);
border-radius: 50px;
overflow: auto;
}
.container-title {
margin: 0;
padding: 0;
text-align: center;
color: #fff;
height: 40px;
text-decoration: underline;
}
.container-right h1, .container-left h1 {
font-family: 'Brush Script MT';
color: black;
}
.container-right table {
margin: 30px;
color: black;
text-decoration: none;
width: 240px;
padding-top: 20px;
}
.container-right table td button {
width: 40px;
border-radius: 10px;
border-color: transparent;
margin-left: 10px;
}
.container-right table td button:hover {
background-color: #e73c7e;
}
.container-left{
position: absolute;
background: #d3d3d3bd ;
height: 330px;
width: 300px;
left: 170px;
top: 300px;
transform: translate(-50%,-50%);
border-radius: 50px;
overflow: auto;
} 
.footer {
display: flex;
justify-content: space-between;
margin-left: 20px;
margin-right: 20px;
border-top: 1px solid black;
}
#contenu {
display: flex;
flex-direction: column-reverse;
}
.elementAddedToBill, .lettuceAddedToBill, .onionAddedToBill, .beefAddedToBill, .cheeseAddedToBill {
display: flex;
justify-content: space-between;
margin-left: 20px;
margin-right: 20px;
}
.tomato {
background-image: linear-gradient(to right top, tomato, tomato, tomato, rgb(255, 89, 59), rgb(254, 87, 58));
width: 250px;
height: 25px;
border-radius: 10px;
margin-left: 160px;
}


.lettuce {
background-image: linear-gradient(to right top, #85B53A, #85B53A, #85B53A, #85B53A, #91c63d);
width: 250px;
height: 20px;
border-radius: 10px;
margin-left: 160px;
}
.cheese {
background-image: linear-gradient(to right top, #f1c733, #eebd30, #eab32d, #e6a92b, #e29f2a);
width: 250px;
height: 15px;
border-radius: 10px;
margin-left: 160px;
}
.onion {
background-image: linear-gradient(to right top, #7F2F86, #a57789, #7F2F86, #a57789,#7F2F86);
width: 250px;
height: 15px;
border-radius: 10px;
margin-left: 160px;
}
.beef {
background-image: linear-gradient(to right top,  #883b14,#883b14);
width: 250px;
height: 35px;
border-radius: 18px;
margin-left: 160px;
box-shadow: inset -6px -3px #7f3611de
}
.Sesam-seed-bun1{
background-image: linear-gradient(to right top,#E07A30,#E07A30);
width: 250px;
height: 70px;
border-radius: 60% 60% 10% 10%;
margin-left: 160px;
margin-bottom: 3px;
margin-top: 50px;
box-shadow: inset -9px 0 #d4732e, inset 9px 0 #d4732e;
}
.Seed1{
 position:absolute;
 width:1%;
 height: 2%;
 background-color:rgb(255, 237, 216);
 left:35%;
 top:15%;
 border-radius: 50%;
 transform:rotate(-40deg);
}
.Seed1:after{
  content:"";
  position:absolute;
  width:100%;
  height: 100%;
  background-color:rgb(255, 237, 216);
  left:-700%;
  top:-100%;
  border-radius: 50%;
  transform:rotate(-80deg);
 }
 .Seed1:before{
  content:"";
  position:absolute;
  width:100%;
  height: 100%;
  background-color:rgb(255, 237, 216);
  left:600%;
  top:180%;
  border-radius: 50%;
  transform:rotate(-100deg);
 }
 .Seed2{
  position:absolute;
  width:1%;
  height: 2%;
  background-color:rgb(255, 237, 216);
  left:50%;
  top:15%;
  border-radius: 50%;
  transform:rotate(-40deg);
 }
 .Seed2:after{
   content:"";
   position:absolute;
   width:100%;
   height: 100%;
   background-color:rgb(255, 237, 216);
   left:-900%;
   top:-80%;
   border-radius: 50%;
   transform:rotate(-80deg);
  }
  .Seed2:before{
   content:"";
   position:absolute;
   width:100%;
   height: 100%;
   background-color:rgb(255, 237, 216);
   left:300%;
   top:400%;
   border-radius: 50%;
   transform:rotate(-100deg);
  }
  .Seed3{
    position:absolute;
    width:1%;
    height: 2%;
    background-color:rgb(255, 237, 216);
    left:60%;
    top:15%;
    border-radius: 50%;
    transform:rotate(-40deg);
   }
   .Seed3:after{
     content:"";
     position:absolute;
     width:100%;
     height: 100%;
     background-color:rgb(255, 237, 216);
     left:-950%;
     top:-100%;
     border-radius: 50%;
     transform:rotate(-80deg);
    }
    .Seed3:before{
     content:"";
     position:absolute;
     width:100%;
     height: 100%;
     background-color:rgb(255, 237, 216);
     left:0%;
     top:350%;
     border-radius: 50%;
     transform:rotate(-100deg);
    }

.Sesam-seed-bun2{
background-image: linear-gradient(to right top, #E07A30,#E07A30);
width: 250px;
height: 30px;
border-radius: 10px 10px 30px 30px;
margin-left: 160px;
margin-top: 3px;
margin-bottom: 50px;
box-shadow: inset -9px 0 #d67632, inset 9px 0 #d4732e;
} 
.showTotalBtn {
  background-color: rgba(255, 255, 255, 0.674);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-left: 100px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.showTotalBtn:hover,
.showTotalBtn:focus {
  background-color:  #e73c7e;
}
.totalContainer{
  position: absolute;
  height: 300px;
  width: 300px;
  left: 500px;
  top: 160px;
  border-radius: 50px;
  z-index: 1;
  justify-content: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  }
  
  .totalText {
    margin-top: 50px; 
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'Brush Script MT';
    padding: 10px;
}

.bonAppetitText {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'Brush Script MT';
    padding: 10px;
}
