
body {
    position: relative;
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    color: white;
    z-index: 2;
  }
  .CustomBite {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin-left: 30px; 
  }
  
  .CustomBite img.icon {
    width: 40px; /* Ajustez la taille selon vos besoins */
    height: 40px; /* Ajustez la taille selon vos besoins */
    border-radius: 50%; /* Forme de cercle */
    
  }
  .page-titre {
    margin-top: 80px; /* Ajustez la valeur en fonction de la hauteur de votre barre de navigation */
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'Brush Script MT';
    padding: 10px;

}

  .container{
    position: absolute;
    position: absolute;
    background: #d3d3d3bd ;
    height: 500px;
    width: 500px;
    left: 50%;
    top: 600%;
    transform: translate(-50%,-50%);
    box-shadow: 16px 16px 10px #d7d7d7;
    border-radius: 50px;
    z-index: 1;
}
.Sesam-seed-bun2{
    color:  #ea7;
    font-size: 1vmin;
    width:80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: radial-gradient(farthest-side at 50% 100%, #ea7 99.5%, #0000 99.9%) 50% 20% / 80% 20%, 
                radial-gradient(farthest-side at 50% 0%, #ea7 99.5%, #0000 99.9%) 50% 39.85% / 80% 10%;
    background-repeat: no-repeat;
} 
.cheese{
    color:  #ea7;
    font-size: 1vmin;
    width:80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:
      conic-gradient( gold 77deg, #0000 0 285deg, gold 0) 20% 50% / 90% 20%,
      conic-gradient(orange 76.6deg, #0000 0 285.5deg, orange 0) 20% 50.65%/ 90% 21%,
      conic-gradient(at 50% 30%, #0000 0 99deg, gold 0 259.5deg, #0000 0) 20% 33.25% / 90% 10%;
    background-repeat: no-repeat;
} 
.beef{
  color:  #ea7;
  font-size: 1vmin;
  width:80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:
    radial-gradient(50% 90% at 50% 50%, maroon 99%, #0000 0 ) 50% 45%/ 80% 20% ,
    radial-gradient(farthest-side, maroon 99%, #0000 99.9% ) 50% 56%/ 66% 6% ;
  background-repeat: no-repeat;
} 
.lettuce{
  color:  #ea7;
  font-size: 1vmin;
  width:80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:
      radial-gradient(farthest-side, rgb(83, 182, 83), green 98%, #0000 99%) 50% 60%/ 50% 7%,
      radial-gradient(farthest-side, green 98%, #0000 99%) 30% 60% / 35% 7%,
      radial-gradient(farthest-side, rgb(90, 190, 90), green 98%, #0000 99%) 18% 57% / 35% 10%,
      radial-gradient(farthest-side, green 98%, #0000 99%) 30% 60% / 35% 7%, 
      radial-gradient(farthest-side, rgb(87, 192, 87), green 98%, #0000 99%) 80% 58% / 45% 10%;
  background-repeat: no-repeat;
} 
.tomato{
  color:  #ea7;
  font-size: 1vmin;
  width:80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:
  radial-gradient(50% 150% at 50% 50%, tomato 98%, #0000 0 ) 50% 60%/ 70% 9% ,
  radial-gradient(farthest-side, tomato 98%, #0000 99.9% ) 50% 64%/ 66% 6% ;
  background-repeat: no-repeat;
}
.Sesam-seed-bun1{
  color:  #ea7;
  font-size: 1vmin;
  width:80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: 
      radial-gradient(50% 140% at 50% 90%,  #ea7 98%, #0000 99%) 50% 65% / 72% 20%,
      radial-gradient(50% 50% at 50% 30%,  #ea7 98%, #0000 99%) 50% 77% / 71.75% 10%;
  background-repeat: no-repeat;
}
.onion{
  color:  #ea7;
  font-size: 1vmin;
  width:80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:
      radial-gradient(farthest-side, rgb(226, 217, 191),rgb(170, 22, 163) 100%, #0000 99%) 18% 58% / 30% 6%,
      radial-gradient(farthest-side,  rgb(226, 217, 191),  rgb(170, 22, 163) 100%, #0000 99%) 50% 55%/ 40% 6%,
      radial-gradient(farthest-side, rgb(226, 217, 191), rgb(170, 22, 163) 98%, #0000 99%) 80% 59% / 30% 7%;
      
  background-repeat: no-repeat;
} 
.container-right{
  position: absolute;
  position: absolute;
  background: #d3d3d3bd ;
  height: 500px;
  width: 300px;
  right: -5%;
  top: 600%;
  transform: translate(-50%,-50%);
  box-shadow: 16px 16px 10px #d7d7d7;
  border-radius: 50px;
}
.container-left{
  position: absolute;
  position: absolute;
  background: #d3d3d3bd ;
  height: 500px;
  width: 300px;
  left: 17%;
  top: 600%;
  transform: translate(-50%,-50%);
  box-shadow: 16px 16px 10px #d7d7d7;
  border-radius: 50px;
} 

